<div class="signup2 container">
<h1>Home Page</h1>
<p>To view a specific part of the python course go to localhost:3000/python/chapter1. Replace 1 with whatever chapter you want to visit.</p>
<p><%= link_to "Link to the Github", "https://github.com/Quantakavin/coursenotes", target: "_blank" %></p>
</div>
