@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav {
  a:link {
    color: white !important;
  }
  a:visited {
    color: white !important;
  }
}

.navbar-default {
    background-color: #20B2AA;
    color: white;
}

.signup2 {
  margin-top: 120px;
}

.link {
  color: white;
}
